# Go build files
/bin/
/pkg/
/*.exe
/*.out
*.test
cmd/client/client
cmd/server/server
cmd/client/zcomm_storage/*
cmd/client/z*/
data


# IDEs
.vscode/
.idea/

# Dependency dirs
vendor/

# OS junk
.DS_Store
Thumbs.db
